# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db


# estado del pre-cacheo de vistas previas en Facebook
.fb-precache-state.json
